<%= form_for([@test, @question]) do |f| %>
    <div class="col-xs-8 ">
      <%= f.text_field :name, class: "form-control edit-test-control", :placeholder => "Question name" %>
    </div>
    <div class="col-xs-4">
        <%= f.submit :class => "btn btn-success btn-block "%>
      </div>
<% end %>
