<%= form_for([@test, @question]) do |f| %>
    <div class="col-xs-9">
      <%= f.text_field :name, class: "form-control edit-test-control", :placeholder => "Question name" %>
    </div>
    <div class="col-xs-3">
        <%= f.submit :class => "create_question"%>
      </div>
<% end %>
