<%= form_for([@test, @question]) do |f| %>
    <div class="form_element">
      <%= f.text_field :name, class: "field-input-section-name", :placeholder => t(:question_name)%>
    </div>
    <div class="form_element">
        <%= f.submit :class => "create_new_section", :value => t(:create_question)%>
      </div>
<% end %>
