<%= form_for([@test, @question]) do |f| %>
    <div class="form_element">
      <%= f.text_field :name, class: "field-input-section-name", :placeholder => "Question name" %>
    </div>
    <div class="form_element">
        <%= f.submit :class => "create_new_section"%>
      </div>
<% end %>
