<% @groups.each do |group_name|  %>
    <div class="block-element">
      <div class="section_item" style="align-self: center">
        <span class="section-data"><%= group_name %> </span>
      </div>
    </div>
<% end  %>