<div class="naming-block">
<h1><%=t :groups %></h1>
</div>
<% @groups.each do |group_name|  %>
    <div class="block-element">
      <div class="section_item" style="align-self: center">
        <%= link_to group_name, students_path(group_name: group_name), class: 'section-data' %>
      </div>
    </div>
<% end  %>