<div class="create_new">
  <div class="form_element"><span>Name: </span><span><b><%= @current_student.name %></b></span></div>
  <div class="form_element"> <span>Group: </span><span><b><%= @current_student.group %></b></span></div>
  <div class="form_element"> <span>Result: <h2><b><%= @result %></b>%</h2></span></div>
  <a href="/">Back to sections</a>
</div>