<div class="container">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@section, :html => {:class => "form-horizontal"}) do |f| %>
      <h3 class="form-signin-heading">Create Section</h3>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Section name', autofocus: true%>
          <%= f.submit class: 'btn-success', :class => "btn btn-lg btn-success btn-block" %>
<% end %>
  </div>
</div>