<div class="container">
<%= form_for(@section) do |f| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div id="classHeader">
            <h3>Create Section</h3>
          </div>
          <%= f.text_field :name, class: "form-control", placeholder: "Section name"%>
          <div class="col-md-6 col-md-offset-5">
          <%= f.submit class: 'btn-success' %>
        </div>
        </div>
        </div>
<% end %>
</div>