// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.count-of-tests {
  margin-right: 15px;
  float: right;
}

.section-data {
  margin-left: 15px;
  font-size: 18px;
}

.unblock-and-delete-buttons {
  margin-bottom: 7px;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgb(255,255,255);
}

.element-is-blocked-alert{
  padding-left: 0px;
  padding-right: 0px;
}

.delete-button{
  background-color: rgba(255, 17, 0, 0.35);
}
a.btn-danger:visited { color: #fff; }

a.btn-primary:visited { color: #fff; }

.create_new_section {
  border: 1px solid;
  border-color: #666;
  display: inline-block;
  color: #333;
  background-color: #ffffff;
  padding: 5px 50px 5px 50px;
  margin-left: 165px;
  margin-top: 10px;
  cursor: pointer;
}