// Place all the styles related to the Tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  overflow-y: scroll;
}

h2 {
  margin: 0;
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;
}

.item {
  text-align: center;
}

.carousel2 {
  margin: 20px 0;
}

.control-buttons {
  text-align: center;
}

.examplecarusel {
  margin: 20px;
}
.result-item {
  width: 539px;
  height: 500px;
}
.result-describe{
  height: 150px
}

.next-question {
  font-size: 75px;
}

.btn {
  margin-top: 20px;
}
.finish-button {
  float:left;
  margin-left: 25px;
}

.question-button {
  float:right;
  margin-right: 52px;
}