.true-variant {
  background-color: rgb(204, 255, 204);
}
.answer_place {
  display: block;
  margin: auto;
  width: 70%;
  padding-bottom: 15px;
}
.thumbnail {
  display: inline-block;
  width: 261px;
  height: 270px;
  overflow: auto;
  border: 1px solid;
}
.image_for_answer{
  margin-top: 10px;
}
.question-buttons{
  margin: 10px 24px 10px 24px;
}
.finish-button{
  float: right;
  border: 1px solid #000000;
  display: inline-block;
  color: #333;
  background-color: #ffffff;
  padding: 5px 15px 5px 15px;
}
.next, .prev{
  height: 50px;
  width: 70px;
  border: 1px solid #000000;
  display: inline-block;
  color: #333;
  background-color: #ffffff;
  padding: 5px 15px 5px 15px;
}
.question-name, .answers{
  margin: 10px 70px 10px 120px;
}
.answers{
  width: 100%;
}
.big-answer-image{
  display: inline-block;
  width: 100%;
  height: 100%;
  max-height: 350px;
}
.result-item{
  background-size: contain;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: 100%;
  cursor:pointer;
}
.current_answer{
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  display: inline-block;
  width: 400px;
  height: 420px;
  border: 1px solid;
  overflow: auto;
}