.true-variant {
  background-color: rgb(204, 255, 204);
}
.answer_place {
  display: block;
  margin: auto;
  width: 70%;
  padding-bottom: 15px;
}

.thumbnail {
  display: inline-block;
  width: 261px;
  height: 270px;
  overflow: auto;
  border: 1px solid;
}
.image_for_answer{
  margin-top: 10px;
}